<%= form_with(model: contact_message, local: true) do |form| %>
  <% if contact_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_message.errors.count, "error") %> prohibited this contact_message from being saved:</h2>

      <ul>
      <% contact_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_area :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :subject %>
    <%= form.text_field :subject, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_area :message, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if contact_message.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', contact_message, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit "SUBMIT", class: 'btn btn-danger' %>

    <% if contact_message.persisted? %>
      <%= link_to "Cancel", contact_message, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", contact_messages_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
