<div class="p-4"style="background-color: #666; margin: 5px;">
    <% contact_message =  notification.to_notification.message_details %>      
    <%= contact_message.first_name %> <br>
    <%= contact_message.last_name %> <br>
    <%= contact_message.email %> <br>
    <%= contact_message.phone_number %> <br>
    <%= link_to notification.to_notification.message,  notification.to_notification.url %>

</div>

